a {
  color: rgb(121, 79, 24);
  text-decoration: none;
}

body {
  text-align: center;
  background-color: rgb(255, 255, 224);
}

img {
  display: block;
  max-width: 500px;
  margin: 0px auto;
}
.container {
  display: inline-flex;
  margin: 20px auto;
  column-gap: 30px;
}
